<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="login">UNIVERSIDAD TECNOLÓGICA DE AGUASCALIENTES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Pagina principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="careers">Carreras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="private">Docentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tasks" routerLinkActive="active">Nosotros</a>
          </li>
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
            <li><a routerLink="/login" routerLinkActive="active">Ingresar a mi sesión</a></li>
          </ng-container>
          <ng-template #loggedIn>
            <li><a class="nav-link" style="cursor:pointer" (click)="authService.logout()">CERRAR SESIÓN</a></li>
          </ng-template>
        <span class="navbar-text">
          PREGUNTA POR NUESTRO PLAN DE ESTUDIOS E INSCRIBETE
        </span>