<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo }}</span>
                    <form [formGroup]="tallerForm" (ngSubmit)="agregarTaller()">
                      <div class="mb-3">
                        <input type="text" formControlName="taller"
                        class="form-control form-control-lg" placeholder="Ingresa taller">

                        <div class="text-danger"
                        *ngIf="tallerForm.get('taller')?.hasError('required') && tallerForm.get('taller')?.touched">
                        <span>El nombre del taller <strong>es obligatorio</strong></span>
                        </div>
                      </div>
                      <div class="mb-3">
                        <input type="text" formControlName="instructor"
                          class="form-control form-control-lg" placeholder="Ingresa instructor">
                          <div class="text-danger"
                          *ngIf="tallerForm.get('instructor')?.hasError('required') && tallerForm.get('instructor')?.touched">
                          <span>El nombre del instructor <strong>es obligatorio</strong></span>
                      </div>
                        </div>
                       <div class="mb-3">
                        <input type="text" formControlName="ubicacion"
                         class="form-control form-control-lg" placeholder="Ingresa ubicacion">
                         <div class="text-danger"
                         *ngIf="tallerForm.get('ubicacion')?.hasError('required') && tallerForm.get('ubicacion')?.touched">
                         <span>La ubicacion <strong>es obligatoria</strong></span>
                     </div>
                        </div>
                      <div class="mb-3">
                        <input type="number" formControlName="hora"
                        class="form-control form-control-lg" placeholder="Ingresa hora">
                        <div class="text-danger"
                        *ngIf="tallerForm.get('hora')?.hasError('required') && tallerForm.get('hora')?.touched">
                        <span>La hora <strong>es obligatoria</strong></span> 
                    </div>
                      <div class="mb-3">
                        <button roterLink="listar-taller" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                        <button type="submit" [disable]="tallerForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                      </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
