<div class="login-page">
  <div class="login-spacer"></div>
  <div class="login-container">
    <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
      <div class="login-card-logo">
        <img src="../../assets/img/LogoPrincipal.png" alt="logo">
      </div>
    </div>
    <h2 class="card-heading">
      BIENVENIDO
    </h2>
   
      <!-- <input matInput placeholder="Agrega tu Username">
        <input matInput placeholder="Agrega tu Email">
        <input matInput type='password' placeholder="Agrega tu Contraseña">--> 

      

      </div>
    
    <div class="buttons">
      <div class="login">
        <button>
          <a href="home" class="btn1" mat-flat-button color="primary">ENTRAR</a>
        </button>
      </div>
      <div class="register">
        <button>
          <a href="register" class="btn1" mat-flat-button color="primary">Registrate</a>
        </button>
        <button>
          <a href="forgetpas" class="btn1" mat-flat-button color="primary">¿Olvidaste tu contraseña?</a>
        </button>
      </div>
    </div>
  </div>
