<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
            <div class="card-body text-center">
                <span class="titulo">LISTADO DE TALLERES</span>
                <button class="btn btn-success float-end" routerLink="crear-taller">NUEVO</button>
                <table class="table table-dark table-striped mt-5">
                    <thead>
                      <tr>
                        <th scope="col">Taller</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Horas semanales</th>
                        <th scope="col">  <i class="fa-solid fa-tricycle"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Música</th>
                        <td>Alicia Villareal</td>
                        <td>Aulas 5</td>
                        <td>9</td>
                        <td>  <i class="fa-thin fa-pen-to-square"></i>
                          <i class="fa-thin fa-trash"></i>
                        </td>
                      </tr>
                      <tr>
                        <th>Boxeo</th>
                        <td>Jacob Kings</td>
                        <td>Taller</td>
                        <td>17</td>
                        <td><i class="fa-thin fa-pen-to-square"></i>
                            <i class="fa-thin fa-trash"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
    </div>
</div>
