<div class="login-page">
    <div class="login-spacer"></div>
    <div class="login-container">
      <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
        <div class="login-card-logo">
            <img src="../../assets/img/LogoPrincipal.png" alt="logo">
        </div>
      </div>
      <h2 class="card-heading">
       <pre>REGISTRATE</pre>
<pre>FAMILIA LOBOS</pre> 
      </h2>
      <form class="login-form">
        
          <input matInput placeholder="Agrega tu Nombre(s)">
          <input matInput placeholder="Agrega tu Apellido(s)"> 
          <input matInput placeholder="Agrega tu Username">
          <input matInput placeholder="Agrega tu Email">
          <input matInput type='password' placeholder="Agrega tu nueva Contraseña">
        
      </form>
      <div class="buttons">
        <div class="login">
          
          <button>
            <a href="home" class="btn1" mat-flat-button color="primary">ENTRAR</a>
        </button>
        
        </div>
        <div class="btnhome">
            <button>
                <a href="" class="btn1" mat-flat-button color="primary">Iniciar sesión con Google</a>
            </button>
            <button>
              <a href="login" class="btn1" mat-flat-button color="primary">Regresar</a>
          </button>
        </div>
        <div class="register">
          
           
        </div>      
      </div>
    </div>
  </div>
  